*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://umer11918.github.io/Netflix-clone/images/header-image.png');
    position: relative;
    padding: 10px 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 16px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;

}
.language-btn{
    display: inline-flex ;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.language-btn img{
    width: 14px;
    margin-left: 5px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    margin-top: 100px;
    display: block;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px ;
}
.email-signup
{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden ;

}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
.feature{
    padding: 40x 12px;
    font-size: 24px;
    background-color: #000;

}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
   flex-basis: 30%;
   margin-bottom: 10px;
   color: #fff;
   width: 2px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.feature h2{
    font-size: 40px;
    font-weight: 600;
    max-width: 20px;
    width: 100px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;

}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}
.accordion
{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;

}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;

}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px ;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]
{
    display: none;
}
.accordion .content{
    background-color: #303030;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    padding: 0px 20px;
    transition: max-height 0.5s, padding 0.5s;

}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}.accordion input[type="radio"]:checked + label::after{
    transform: rotate(130deg);

}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 100px;
}
.faq small{
    font-size: 16px;
}
.footer{
    padding: 50px 15% 15px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;

}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 9px;
}
.copyright-txt{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}
/*------------------- media queries-----------------*/
@media only screen and (max-width: 700px){
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 18px;
    }
    nav .language-btn{
        padding: 4px 8px;
    }
    .header-content{
        padding-top: 150px;
        padding-left: 20px;
        font-size: 14px;
        justify-content: center;
        text-align: center;
    }
    .header-content h1{
        font-size: 30px;
    }
}
